@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Mulish", sans-serif;
}

.top {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url("https://assets-v2.scaler.com/assets/academy/svg/banner-background-34136d3a9ddff172e6bae6e3d8283c452231dcda2196b055bfa2e34e222754b7.svg");

  .need {
    span {
      font-weight: bolder;
      color: white;
      border: none;
      border-bottom: px solid #fec601;
      padding: 5px;

      i {
        color: grey;
        font-size: 15px;
      }
    }
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .nav-link {
    font-size: 15px;
    color: black;
  }

  .nav-link.nav-link:hover {
    color: blue;
  }

  #navbarSupportedContent {
    .navbar-nav {
      button {
        height: 40px;
        width: 80px;
        border-radius: 5px;
        border: 2px blue solid;
        color: blue;
        background-color: white;
      }

      button:hover {
        background-color: blue;
        color: white;
      }
    }
  }

  #button {
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background-color: red;
    border: none;
  }
}

.home {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: url("https://assets-v2.scaler.com/assets/academy/svg/banner-background-34136d3a9ddff172e6bae6e3d8283c452231dcda2196b055bfa2e34e222754b7.svg");
  height: 830px;
  gap: 310px;

  .homeleft {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 30%;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 280px;

    .lefthead {
      color: white;
      font-size: 32px;
      font-weight: bold;
    }

    .leftsubhead {
      color: whitesmoke;
      font-size: 20px;
      display: flex;
      flex-direction: row;
      justify-content: cen;
      align-items: center;

      gap: 8px;

      .free {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;

        .freehead {
          font-size: 32px;
          color: whitesmoke;
          font-weight: bolder;
        }

        img {
          width: 80px;
          height: 30px;
          margin-top: -20px;
        }
      }
    }

    .container {
      .row {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;

        button {
          padding: 14px;
          gap: 10px;
          width: 44%;

          font-size: 16px;
        }
      }
    }

    .leftfoot {
      font-size: 16px;
      color: white;

      .footleft {
        color: #fec601;
        font-size: 16px;
        font-weight: bolder;
      }
    }
  }
}

#homeright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
  border-radius: 10px;
  background-color: white;
  width: 35%;
  padding: 20px 10px;
  margin-bottom: 300px;

  #homehead {
    font-size: 32px;
    color: black;
    padding: 14px;

    b {
      color: #e23f5b;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    align-items: start;
    gap: 20px;
    width: 80%;

    #formhead {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 15px;

      input {
        height: 50px;
        width: 400px;
        outline-color: rgba(45, 153, 224, 0.548);
      }
    }

    #phonebox {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: start;
      gap: 12px;

      #content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        border: 1px black solid;
        padding: 12px;
        gap: 5px;

        #flag {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;

          img {
            height: 15px;
          }

          #code {}
        }
      }

      input {
        height: 50px;
        width: 320px;
        outline-color: rgba(45, 153, 224, 0.548);
      }
    }

    #bookbox {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: start;
      gap: 20px;

      button {
        padding: 8px;
        background-color: red;
        border-radius: 5px;
        color: white;
        border: none;
      }

      #seatbox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        #seats {
          font-size: 12px;
          color: red;
        }
      }
    }

    #accbox {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: start;

      b {
        color: skyblue;
      }
    }

    #footright {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: start;
      font-size: 12px;
    }
  }
}

.program {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  flex-direction: column;
  /* border: 2px solid black; */
  border-radius: 20px;
  box-shadow: 0px 5px 8px black;
  margin-top: -130px;
  background-color: white;
  z-index: 2;
  padding: 20px;

  .prohead {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #021028;
    font-size: 32px;
    flex-direction: row;
    gap: 7px;

    span {
      font-size: 32px;
      font-weight: bolder;
    }
  }

  .procardbox {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 2px solid black; */
    gap: 20px;

    .card1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* border: 2px black solid; */
      background-color: #0f8cff;
      border-radius: 20px;
      overflow: hidden;
      padding: 50px;

      .slantbox {
        width: inherit;
        position: relative;

        .slant {
          width: 180px;
          height: 40px;
          background-color: #ffcc00;
          position: absolute;
          top: 0px;
          right: 1px;
          transform: rotate(40deg);
          margin-right: -250px;
          margin-top: -30px;
        }
      }

      .card-image {
        width: 105px;
        height: 73px;
      }

      .card-body {
        font-size: 23px;
        color: #ffffff;
        text-align: center;
      }
    }
  }
}

.needbox {
  width: 80vw;
  /* border: 2px solid black; */
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .needhead {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .head1 {
      font-size: 32px;
      color: #021028;
    }

    .head2 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0px 10px;

      .subhead {
        font-size: 32px;
        color: #021028;
        font-weight: bolder;
        position: relative;
      }

      img {
        width: 240px;
        margin-top: -10px;
      }
    }

    .head3 {
      font-size: 32px;
      color: #021028;
    }
  }

  .needcardbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin: 25px 0px;

    .needcard {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 350px;
      height: 225px;
      border: 1px solid #a9bad2;
      border-radius: 12px;

      img {
        width: 72px;
        height: 72px;
      }

      .cardhead {
        font-size: 24px;
      }

      .cardsubhead {
        font-size: 16px;
        color: #5b6f81;
        text-align: center;
      }
    }
  }
}

.begouterbox {
  width: 100vw;
  background-color: #e8f2fe;
  display: flex;
  justify-content: center;
  align-items: center;

  .beginnerbox {
    width: 90%;
    /* background-color: white; */
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    .begheader {
      display: flex;
      justify-content: center;
      align-items: center;

      .begsubhead1 {
        font-size: 32px;
        color: #021028;

        b {
          margin-right: 8px;
        }
      }

      .begsubhead2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px 10px;

        .begsub2 {
          font-size: 32px;
          color: #021028;
          font-weight: bolder;
          position: relative;
        }

        img {
          width: 210px;
          margin-top: -10px;
          background-repeat: repeat-x;
        }
      }
    }

    .coursesbox {
      width: 100%;
      /* border: 2px solid black; */
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px;

      .course {
        /* border: 2px solid red; */
        margin: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: white;

        .coursehead {
          display: flex;
          justify-content: center;
          align-items: start;
          flex-direction: column;

          .coursesub {
            font-size: 32px;
            color: #387ef7;
          }

          .coursemonth {
            font-size: 14px;
            color: #387ef7;
          }

        }

        img {
          width: 40px;

        }
      }
    }

    .modulebox {
      width: 100%;
      background-color: #CAE0FE;
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: row;
      /* border: 2px solid black; */
      /* margin: 20px; */


      .modules {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        /* border: 2px solid red; */
        width: 45%;
        border-radius: 10px;
        gap: 35px;
        padding: 20px;


        .modulecard {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          width: 100%;
          background-color: #387ef7;
          padding: 20px;
          border-radius: 10px;
          /* border-left: 10px solid #fec601; */



          .cardhead {
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;

            .cardsub1 {
              color: white;
              font-size: 12px;
            }

            .cardsub2 {
              color: white;
              font-size: 20px;
              font-weight: bolder;
            }

          }

          .cardleft {
            color: white;
            font-size: 16px;
          }

        }

        .modulecard1 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          width: 100%;
          background-color: white;
          padding: 20px;
          border-radius: 10px;

          .cardhead {
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;

            .cardsub1 {
              color: #0f8cff;
              font-size: 12px;
            }

            .cardsub2 {
              color: 0f8cff;
              font-size: 20px;
              font-weight: bolder;
            }

          }

          .cardleft {
            color: #0f8cff;
            font-size: 16px;
          }


        }
      }


      .moduleright {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
       
        width: 45%;
        border-radius: 10px;
        gap: 35px;
        padding: 7px;
        /* background-color: #387ef7; */
        margin-top: 19px;
        gap: 260px;

        .rightcontent {
          border-radius: 10px;

          padding: 20px;
          background-color: #387ef7;
          ;
          width: 100%;

          .righthead {
            color: white;
            font-size: 16px;
          }

          .line {
            border-top: 1px solid rgb(255, 255, 255);
            width: 100%;
          }

          .ul1 {
            margin-top: 10px;

            li {
              color: white;
              /* fill: white; */
              font-size: 16px;
            }
          }

          .ul2 {
            margin-left: 20px;

            li {
              color: white;
              font-size: 14px;
              /* fill: none; */
              margin: 10px;
            }
          }
        }

        .rightfooter {
          
          padding: 20px;
          width: 100%;

          .foot {
            color: #fec601;
            font-size: 14px;
            font-size: bolder;
          }
        }

        .button {

          width: 100%;
        }
      }


    }
  }
}

.talkbox {
  width: 100vw;
  background-color: #012953;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* border: 2px solid rgb(255, 1, 1); */
  gap: 20px;

  .talkcontent {
    /* border: 2px solid rgb(60, 109, 50); */
    margin-left: 90px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    .talkhead {
      color: white;
      font-size: 48px;
      font-weight: bolder;
    }

    .talksub {
      font-size: 16px;
      color: white;
    }

    .freebox {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 10px;

      .free1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 5px;

        i {
          color: #fec601;
          font-size: 16px;
        }

        .free1txt {
          font-size: 16px;
          color: white;
        }
      }
    }

    .button {
      padding: 10px;
    }

  }

  .girl {

    /* border: 2px solid brown;  */
    img {
      width: 622px;
      height: 292px;
    }
  }

}


#learning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  gap: 10px;

  #learn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;

      #good {
          font-size: 24px;
      }

      #rev {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          #review {
              font-size: 22px;
          }

          #lin1 {
              width: 200px;
          }
      }

      #make {
          font-size: 24px;
      }
  }

  #working {
      font-size: 18px;
  }
  #cards {
      width: 95vw;
      gap:20px;
      display: grid;
      overflow-x: scroll;
      grid-template-columns: repeat(10,1fr);
      padding: 10px;
     
      .card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
           width: 350px;
           padding: 30px;
           gap: 10px;
          .head {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 15px;
              .afterlog{
                  width: 50px;
                  height: 50px;
              }
          }
          .intro{
              padding-bottom: 30px;
          }
          .lines{
              width: inherit;
              border-top: 2px grey solid;
          }
          .scale{
              color: #387ef7;
          }
      }
      .card:hover{
          box-shadow:5px 5px 10px rgb(226, 223, 223);
      }
  }
}
  #scaler {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
    width: 100vw;
    background-color: rgba(0, 0, 255, 0.722);
    #s1 {
      border-radius: 100%;
      padding: 30px;
      background-color: rgba(135, 206, 250, 0.744);
    }
    #s2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      #s3 {
        font-size: 30px;
      }
      #s4 {
        font-size: 18px;
      }
    }
    #s5 {
      button {
        height: 40px;
        width: 200px;
        border-radius: 5px;
        border: none;
        background-color: white;
        color: black;
      }
    }
  }
  #next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 60px 0px;
    margin-top: 40px;
    background-color: rgba(173, 216, 230, 0.432);
    #n1 {
      font-size: 31px;
    }
    #n2 {
      font-size: 30px;
    }
    #p {
      font-size: 17px;
      width: 90%;
      b {
        color: #358;
      }
    }
    #n3 {
      font-size: 18px;
      color: #358;
    }
    #n4 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      #n5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        gap: 40px;
        padding: 20px 0px;
        border-radius: 20px;
        #n6 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          #n7 {
            font-size: 20px;
            width: 200px;
          }
        }
      }
      #n8 {
        padding: 20px;
        background-color: lightskyblue;
        border-radius: 20px;
      }
    }
  }
  #services{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:50px;
    gap:10px;
    #s1{
      font-size:30px;
      font-weight: bold;
    }
    #s2{
      font-size: 17px;
      color: gray;
    }
    #cards{
      display: flex;
      flex-direction:row;
      justify-content: center;
      align-items: center;
      gap:20px;
      .card{
        height:200px;
        width:150px;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap:10px;
        img{
          height:70px;
          width:70px;
          align-items: center;
          text-align: center;
          margin-top: 20px;
        }
        .card-body{
          .card-text{
            width:220px;
            color: gray;
          }
        }
      }
    }
  }
  #roadmap{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:#cae0fec1 ;
    gap:50px;
    width:100%;
    padding:20px;
    #r1{
      font-size: 30px;
      width:1000px;
      text-align:center;
    }
    button{
      height:40px;
      width:350px;
      background-color: #e12645;
      color:white;
      border-radius: 5px;
      border:none;
    }
  }
  #learning{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #l0{
      font-size: 30px;
      width: 1050px;
      text-align: center;
    }
    #l1{
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      padding: 20px;
      gap: 30px;
    .card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 90px;
    height: 350px;
    width: 470px;
    border-radius: 5px;
    background-image: url(https://assets-v2.scaler.com/assets/academy/svg/carousel-1-f8b2a8715c72d8a7ee95dee86294c20875ab6961b6c5d51c4e4b1ef7ba1f6ce5.svg.gz);
    .card-body{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 20px;

    }
    }
  }
  }
  #question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    #q1 {
      font-size: 35px;
    }
    #q2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-top: 3px grey solid;
      #q3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        border-right: 0px grey solid;
        padding: 23px;
        #q4 {
          font-size: 18px;
        }
      }
      #q5 {
        border-left: 2px grey solid;
        gap: 20px;
        padding: 20px 40px;
        width: 900px;
        #q6 {
          font-size: 30px;
        }
        #accordionPanelsStayOpenExample {
          width: 900px;
          padding: 20px 20px;
          .accordion-item {
            margin-bottom: 20px;
            .accordion-header button {
              background: none;
              border: none;
              outline: none;
              box-shadow: none;
              font-size: 18px;
            }
            .accordion-button:hover {
              color: skyblue;
            }
          }
        }
      }
    }
  }
  #explore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #e0{
      font-size: 40px;
      b{
        font-weight: bold;
      }
    }
    #e1{
      font-size: 20px;
      u{
        font-weight: bold;
      }
    }
    #e2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 90px;
    
    .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 260px;
    border-radius: 10px;
    }
    }
  }
  #button{
    #submit{
      background-color: red;
      color: white;
      padding: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
      border-radius: 10px;
    }
    
  }
  #footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #202738;
    padding: 30px 148px;
    gap: 30px;
    
    
    
    #part1{
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      gap: 130px;
      #one{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 40px;
        #main{
          display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        
        #photo{
          width: 100px;
          height: 50px;
        }
        #line{
          color: white;
        }
        #photo2{
          width:150px ;
          height: 25px;
        }
      }
      #sub{
        display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: start;

      
        #block{
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: start;
          gap: 8px;
          #first{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 5px;
            #text{
              color: white;
            }

          }

          

        }
      }
        


      }
      #two{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        #heading{
          font-size: 25px;
          color: white;
        }
        #matter{
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          color:#698fb1;
          #text{
            font-size: 17px;
          }

        }

      }
      #three{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        #heading{
          font-size: 24px;
          color: white;
        }
        #matter{
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          color: #698fb1;
          #text{
            font-size: 17px;
          }

        }

      }
      #four{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        #heading{
          font-size: 25px;
          color: white;
        }
        #matter{
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          color: #698fb1;

        
        #line{
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: start;
          gap: 10px;
          #text{
            font-size: 17px;
          }

        }
      }

      }


    }
    #part2{
      color:#698fb1;

    }
    #part3{
      display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
        #heading{
          color: white;
          font-size: 23px;
        }
        #lines{
          color: #698fb1;
        }

    

      }
    }